fastapi
uvicorn
sqlalchemy
alembic
psycopg2-binary
pydantic
faker
libgravatar
python-jose
passlib
python-multipart
fastapi-limiter
python-dotenv
httpx
cloudinary
qrcode
fastapi-jwt-auth
pydantic[email]
